extends ../layout

block content
  .col-sm-3#scheduleInfo
    h1#scheduleTitle(contenteditable="true", class='sName') #{schedule.name}
    //- #{schedule.name} do i put different link for new schedule and schedule it owned
    p#scheduleDescription(contenteditable="true" , class='sDesc') #{schedule.desc}
    //- #{schedule.desc}
    hr

    //- ccannot post card why
    button.btn.btn-block.btn-default#createCard(data-toggle='modal', data-target=".myCard" value='') create new card...
    .modal.fade.myCard(tabindex="-1", role="dialog", aria-labelledby='myModalLabel')
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4.modal-title New Card
          .modal-body
            form.form-horizontal(action='/card', method='POST')
              input#idInfo(type="hidden", name="_id", value= schedule._id)
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label.col-sm-3.control-label(for='title') Title
                .col-sm-8
                  input.form-control(type='text', name='ncTitle', id='ncTitle', placeholder='Title', required)
              .form-group
                label.col-sm-3.control-label(for='desc') Description
                .col-sm-8
                  input.form-control(type='text', name='ncDesc', id='ncDesc', placeholder='Description')
              .form-group
                label.col-sm-3.control-label(for='date') Date
                .col-sm-4
                  input.form-control(type='date', name='ncStartDate', id='ncStartDate', required)
                .col-sm-4
                  input.form-control(type='date', name='ncEndDate', id='ncEndDate')
              .form-group
                label.col-sm-3.control-label(for='time') Time
                .col-sm-4
                  input.form-control(type='time', name='ncStartTime', id='ncStartTime')
                .col-sm-4
                  input.form-control(type='time', name='ncEndTime', id='ncEndTime')
              .form-group
                .col-sm-offset-3.col-sm-8
                  button.btn-block.btn.btn-primary(type='submit', id='#create-event')
                    i.fa.fa-pencil
                    | Create Card
    br
    #external-events
      h4 Events
      #external-events-listing
        for val in schedule.cards
          .col-sm-12.fc-event.ui-draggable.ui-draggable-handle(data-toggle='modal', data-target=".userCard", value='#{val.title}') #{val.title}

          .modal.fade.userCard(tabindex="-1", role="dialog", aria-labelledby='myModalLabel')
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                  h4.modal-title Card
                .modal-body
                  form.form-horizontal(action='/card', method='POST')
                    input(type="hidden", name="_id", value= val._id)
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label.col-sm-3.control-label(for='title') Title
                      .col-sm-8
                        input.form-control(type='text', name='title', id='title', value='#{val.title}', placeholder='Title', required)
                    .form-group
                      label.col-sm-3.control-label(for='desc') Description
                      .col-sm-8
                        input.form-control(type='text', name='desc', id='desc', value='#{val.desc}', placeholder='Description')
                    .form-group
                      label.col-sm-3.control-label(for='date') Date
                      .col-sm-4
                        input.form-control(type='date', name='startDate', id='startDate', value='#{val.startDate}', required)
                      .col-sm-4
                        input.form-control(type='date', name='endDate', id='endDate', value='#{val.endDate}')
                    .form-group
                      label.col-sm-3.control-label(for='time') Time
                      .col-sm-4
                        input.form-control(type='time', name='startTime', id='startTime', value='#{val.endTime}')
                      .col-sm-4
                        input.form-control(type='time', name='endTime', id='endTime', value='#{val.endTime}')
                    .form-group
                      .col-sm-offset-3.col-sm-8
                        button.btn.btn-primary(type='submit')
                          i.fa.fa-pencil
                          | Update Card
                        | &nbsp;
                        button.btn.btn-danger(type='submit')
                          i.fa.fa-remove
                          | Delete Card

  .col-sm-9
    br
    div#calendar

  .col-sm-2.pull-right
    br
    button.btn.btn-block.btn-danger.deleteSchedule.pull-right Delete schedule